/* сброс, переменные, типографика, общие классы */
/* Общие стили */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    color: #1F2937;
    line-height: 1.5;
    background: linear-gradient(176deg, #f6fbffbf 0%, #8ac3fc1a 50%);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px 0px 0px;
}

/* КОРПОРАТИВНЫЕ ЦВЕТА СОВКОМБАНКА */
:root {
    --sovcombank-blue: #013791;
    --sovcombank-red: #FF4963;
    --blue-light: #0a4bb5;
    --red-dark: #e63e56;           
    --gray-light: #F9FAFB;
    --gray-border: #E5E7EB;
    --text-dark: #1F2937;
    --text-gray: #6B7280;
}